* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}
main .banner {
  width: 100%;
  background: linear-gradient(to right, #1673fb, #7644f3);
  padding: 1rem 0rem;
  text-align: center;
}
main .banner p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
}
main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}
main nav .left {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
main nav .right i {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4a4a4a;
}
main section.view-1 {
  margin: 0 auto;
  background: linear-gradient(to top right, #fcdee9, #f3fcff 60%);
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem;
  align-items: center;
}
main section.view-1 .container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
main section.view-1 .container .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}
main section.view-1 .container .top .figure {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 3/2;
  background-image: url(./images/view1-pic.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main section.view-1 .container .top h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  max-width: 500px;
}
main section.view-1 .container p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 82%;
  text-align: center;
}
main section.view-2 {
  width: 100%;
}
main section.view-2 .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 1rem;
}
main section.view-2 .container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 1.5rem 0rem 0rem;
  border-top: 3px solid rgba(211, 211, 211, 0.7);
}
main section.view-2 .container .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
main section.view-2 .container .card p {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
main section.view-2 .container .card img {
  width: 100%;
  max-width: 300px;
  align-self: center;
}
main section.view-3 {
  width: 100%;
}
main section.view-3 .container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main section.view-3 .container img {
  width: 100%;
  max-width: 500px;
}
main section.view-3 .container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 2rem;
}
main section.view-3 .container .text h4 {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}
main section.view-3 .container .text h2 {
  font-size: 3rem;
}
main section.view-3 .container .text p {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
main section.view-3 .container .text button {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: 1px solid #0468d7;
  background-color: transparent;
  border-radius: 1.5rem;
  color: #0468d7;
  width: -moz-fit-content;
  width: fit-content;
}
main section.view-3 .container .text small {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  padding-left: 1.5rem;
}
main section.view {
  width: 100%;
  background: linear-gradient(to top right, #fcfce2 45%, #f5fbfe);
}
main section.view .container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}
main section.view .container img {
  width: 100%;
  max-width: 500px;
}
main section.view .container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 2rem;
}
main section.view .container .text h4 {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}
main section.view .container .text h2 {
  font-size: 3rem;
}
main section.view .container .text p {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
main section.view .container .text button {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: #fff;
  background-color: #0468d7;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
main section.view-5 {
  width: 100%;
}
main section.view-5 .container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}
main section.view-5 .container img {
  width: 100%;
  max-width: 500px;
}
main section.view-5 .container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 2rem;
}
main section.view-5 .container .text h4 {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}
main section.view-5 .container .text h2 {
  font-size: 3rem;
}
main section.view-5 .container .text p {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
main section.view-5 .container .text button {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: #0468d7;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #0468d7;
}
main section.view-6 {
  padding: 5rem 1rem;
}
main section.view-6 .cta {
  max-width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #042449;
  border-radius: 2rem;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
}
main section.view-6 .cta .text {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 2rem;
  position: relative;
}
main section.view-6 .cta .text h4 {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}
main section.view-6 .cta .text h2 {
  font-size: 3rem;
  color: #fff;
}
main section.view-6 .cta .text p {
  opacity: 1;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
}
main section.view-6 .cta .text .inner-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-6 .cta .text .inner-cta button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: #0468d7;
  background-color: #fff;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
main section.view-6 .cta .text .inner-cta h6 {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  padding-left: 1rem;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
main section.view-6 .cta img {
  z-index: 1;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
}
main section.footer {
  padding: 3rem;
  background-color: #f8f9fa;
}
main section.footer .top {
  display: flex;
  flex-direction: column;
}
main section.footer .top .right {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem;
  gap: 4rem;
}
main section.footer .top .right .parts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.footer .top .right .parts p {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  opacity: 1;
}
main section.footer .top .right .parts small {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
main section.footer .bottom {
  width: 100%;
  padding: 2rem 1.5rem;
  border-bottom: 1px solid #dadce0;
  display: flex;
  justify-content: center;
}
main section.footer .bottom .icons {
  display: flex;
  gap: 0.8rem;
}
main section.footer .bottom .icons i {
  font-size: 1.5rem;
  opacity: 0.7;
}
main section.footer .inner-footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  gap: 1rem;
}
main section.footer .inner-footer p {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 600px;
  text-align: center;
}
main section.footer .inner-footer .conformation ul {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

@media (min-width: 400px) {
  main section.view-6 .cta .text .inner-cta {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 700px) {
  main section.footer .inner-footer {
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main section.footer .inner-footer p {
    text-align: start;
  }
}
@media (min-width: 1000px) {
  main section.view-1 .container {
    padding: 0rem 4rem;
    gap: 6rem;
  }
  main section.view-1 .container .top {
    flex-direction: row-reverse;
    justify-content: center;
  }
  main section.view-1 .container .top .figure {
    width: 50%;
  }
  main section.view-1 .container .top h1 {
    text-align: left;
    width: 400px;
    font-size: 4rem;
    line-height: 4rem;
  }
  main section.view-2 .container {
    flex-direction: row;
    padding: 6rem;
  }
  main section.view-3 .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  main section.view-3 .container .text {
    width: 40%;
  }
  main section.view .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  main section.view .container .text {
    width: 40%;
  }
  main section.view-5 .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  main section.view-5 .container .text {
    width: 40%;
  }
  main section.view-6 .cta {
    padding: 3rem 4rem;
  }
  main section.footer .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  main section.footer .top .right {
    flex-direction: row;
    padding-top: 0;
    padding: 0rem 4rem 4rem 4rem;
  }
  main section.footer .bottom {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */