* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
main section.view-1 {
  max-width: 2000px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-1 .top {
  width: 100%;
}
main section.view-1 .top img {
  width: 100%;
  border-radius: 0.5rem;
}
main section.view-1 .bottom {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #f4f2ed;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view-1 .bottom p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
}
main section.view-1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-1 .bottom .text h1 {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #f4f2ed;
}
main section.view-1 .bottom .text p {
  font-size: 1.3rem;
  line-height: 1.6;
  text-transform: lowercase;
  color: rgba(244, 242, 237, 0.6);
}
main section.view-1 .bottom .text .story {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
main section.view-1 .bottom .text .story .icon {
  background-color: #292929;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #f4f2ed;
  color: #f4f2ed;
}
main section.view-1 .bottom .text .story p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
}
main section.view-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  width: 100%;
}
main section.view-2 .top,
main section.view-2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section.view-2 .top .element,
main section.view-2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view-2 .top .element small,
main section.view-2 .bottom .element small {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  color: rgba(244, 242, 237, 0.6);
}
main section.view-2 .top .element h2,
main section.view-2 .bottom .element h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #f4f2ed;
}
main section.view-3 {
  max-width: 2000px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-3 .top {
  width: 100%;
}
main section.view-3 .top img {
  width: 100%;
  border-radius: 0.5rem;
}
main section.view-3 .bottom {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #f4f2ed;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view-3 .bottom p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
}
main section.view-3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-3 .bottom .text h1 {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #f4f2ed;
}
main section.view-3 .bottom .text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 0;
}
main section.view-3 .bottom .text p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: rgba(244, 242, 237, 0.6);
  text-transform: none;
}
main section.view-4 {
  max-width: 2000px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-4 .top {
  width: 100%;
}
main section.view-4 .top img {
  width: 100%;
  border-radius: 0.5rem;
}
main section.view-4 .bottom {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #f4f2ed;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view-4 .bottom p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
}
main section.view-4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-4 .bottom .text h1 {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #f4f2ed;
}
main section.view-4 .bottom .text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 0;
}
main section.view-4 .bottom .text p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: rgba(244, 242, 237, 0.6);
  text-transform: none;
}
main section.view-5 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}
main section.view-5 h1 {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #f4f2ed;
}
main section.view-5 .job {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main section.view-5 .job .icon {
  background-color: #292929;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #f4f2ed;
  color: #f4f2ed;
}
main section.view-5 .job p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
}
main section.view-6 {
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
main section.view-6 .card-1 {
  background-image: url(./images/card-pic-1.webp);
}
main section.view-6 .card-2 {
  background-image: url(./images/card-pic-2.webp);
}
main section.view-6 .card-3 {
  background-image: url(./images/card-pic-3.webp);
}
main section.view-6 .card {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1.5rem;
}
main section.view-6 .card .top {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
}
main section.view-6 .card .top .icon {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 50%;
  color: #f4f2ed;
}
main section.view-6 .card .icon,
main section.view-6 .card .bottom {
  background-color: rgba(244, 242, 237, 0.1019607843);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
main section.view-6 .card .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
main section.view-6 .card .bottom p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 500;
}
main section.view-6 .card .bottom p {
  text-transform: uppercase;
  color: #f4f2ed;
}
main section.view-7 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main section.view-7 .bottom {
  width: 100%;
  background-color: #1e1e1e;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 0.5rem;
}
main section.view-7 .bottom p {
  font-size: 0.9rem;
  color: rgba(244, 242, 237, 0.6);
  text-transform: uppercase;
}
main section.view-7 .bottom h2 {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #f4f2ed;
}
main section.view-7 .bottom .job {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main section.view-7 .bottom .job .icon {
  color: #f4f2ed;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: rgba(244, 242, 237, 0.1019607843);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
main section.view-7 .bottom .job p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
}
main .view-7 > .top {
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 3/2;
  background-image: url(./images/view-7-pic.webp);
  background-size: cover;
}
main section.view-8 {
  padding: 1rem;
  width: 100%;
}
main section.view-8 .inner-view-8 {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #cebd63;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
main section.view-8 .top small {
  color: #1a1a1a;
  text-transform: uppercase;
}
main section.view-8 .top h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #000000;
  line-height: 2.5rem;
}
main section.view-8 .bottom {
  background-color: #121212;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1.25rem;
  height: -moz-fit-content;
  height: fit-content;
  flex-shrink: 0;
}
main section.view-8 .bottom p {
  font-size: 0.9rem;
  color: #f4f2ed;
  text-transform: uppercase;
  font-weight: 500;
}
main section.view-9 {
  width: 100%;
  padding: 1rem;
}
main section.view-9 .top {
  width: 100%;
  padding: 1.5rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 0.5rem;
}
main section.view-9 .top p {
  font-size: 1.5rem;
  color: rgba(244, 242, 237, 0.6);
}
main section.view-9 .top .bottom {
  display: flex;
  gap: 0.4rem;
}
main section.view-9 .top .bottom .icon {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 50%;
  color: #f4f2ed;
  background-color: rgba(244, 242, 237, 0.1019607843);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
  main section.view-5 .job {
    opacity: 1;
  }
  main section.view-6 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  main section.view-7 .bottom {
    gap: 6rem;
  }
  main section.view-8 .inner-view-8 .top h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  main section.view-1 {
    flex-direction: row;
  }
  main section.view-1 .top {
    height: 100%;
    width: 50%;
  }
  main section.view-1 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 2rem;
  }
  main section.view-2 {
    flex-direction: row;
    gap: 0;
  }
  main section.view-3 {
    flex-direction: row-reverse;
  }
  main section.view-3 .top {
    width: 50%;
  }
  main section.view-3 .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view-3 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 2rem;
  }
  main section.view-3 .bottom .text .paragraph {
    flex-direction: row;
    gap: 1rem;
  }
  main section.view-4 {
    flex-direction: row;
  }
  main section.view-4 .top {
    width: 50%;
  }
  main section.view-4 .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view-4 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 2rem;
  }
  main section.view-4 .bottom .text .paragraph {
    flex-direction: row;
    gap: 1rem;
  }
  main section.view-6 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  main section.view-7 {
    flex-direction: row;
  }
  main section.view-7 .bottom {
    width: 50%;
    justify-content: space-between;
  }
  main section.view-7 > .top {
    width: 50%;
  }
  main section.view-8 .inner-view-8 {
    padding: 3rem;
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  main section.view-8 .inner-view-8 .top h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (min-width: 1300px) {
  main section.view-1 .bottom {
    padding: 3rem;
  }
  main section.view-1 .bottom p {
    font-size: 1rem;
  }
  main section.view-1 .bottom .text {
    width: 90%;
  }
  main section.view-1 .bottom .text h1 {
    font-size: 3rem;
  }
  main section.view-1 .bottom .text p {
    font-size: 1.5rem;
  }
  main section.view-3 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view-3 .bottom p {
    font-size: 1rem;
  }
  main section.view-3 .bottom .text {
    width: 90%;
  }
  main section.view-3 .bottom .text h1 {
    font-size: 3rem;
  }
  main section.view-3 .bottom .text .paragraph p {
    font-size: 1.2rem;
  }
  main section.view-4 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view-4 .bottom p {
    font-size: 1rem;
  }
  main section.view-4 .bottom .text {
    width: 90%;
  }
  main section.view-4 .bottom .text h1 {
    font-size: 3rem;
  }
  main section.view-4 .bottom .text .paragraph p {
    font-size: 1.2rem;
  }
  main section.view-7 .bottom {
    padding: 3rem;
  }
  main section.view-7 .bottom .top h2 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */