* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
}

@mixin flex-style($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  @include flex-style(0);
  align-items: center;

  section.view-1 {
    max-width: 2000px;
    padding: 1rem;
    @include flex-style(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.5rem;
      color: #f4f2ed;
      @include flex-style(3rem);

      p {
        font-size: 0.9rem;
        color: #f4f2ed;
        text-transform: uppercase;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-size: 2.5rem;
          font-weight: 200;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        p {
          font-size: 1.3rem;
          line-height: 1.6;
          text-transform: lowercase;
          color: rgb(244 242 237 / 60%);
        }
        .story {
          display: flex;
          align-items: center;
          gap: 0.7rem;

          .icon {
            background-color: #292929;
            padding: 0.5rem;
            border-radius: 50%;
            border: 1px solid #f4f2ed;
            color: #f4f2ed;
          }
          p {
            font-size: 0.9rem;
            color: #f4f2ed;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  section.view-2 {
    @include flex-style(2rem);
    padding: 2rem 1rem;
    width: 100%;
    .top,
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-style(0.5rem);

        small {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 200;
          color: rgb(244 242 237 / 60%);
        }

        h2 {
          font-size: 2rem;
          font-weight: 400;
          color: #f4f2ed;
        }
      }
    }
  }

  section.view-3 {
    max-width: 2000px;
    padding: 1rem;
    @include flex-style(1rem);
    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.5rem;
      color: #f4f2ed;
      @include flex-style(3rem);

      p {
        font-size: 0.9rem;
        color: #f4f2ed;
        text-transform: uppercase;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-size: 2.5rem;
          font-weight: 200;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        .paragraph {
          @include flex-style(0);
        }

        p {
          font-size: 1.3rem;
          line-height: 1.6;
          color: rgb(244 242 237 / 60%);
          text-transform: none;
        }
      }
    }
  }

  section.view-4 {
    max-width: 2000px;
    padding: 1rem;
    @include flex-style(1rem);
    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.5rem;
      color: #f4f2ed;
      @include flex-style(3rem);

      p {
        font-size: 0.9rem;
        color: #f4f2ed;
        text-transform: uppercase;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-size: 2.5rem;
          font-weight: 200;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        .paragraph {
          @include flex-style(0);
        }

        p {
          font-size: 1.3rem;
          line-height: 1.6;
          color: rgb(244 242 237 / 60%);
          text-transform: none;
        }
      }
    }
  }

  section.view-5 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 200;
      text-transform: uppercase;
      color: #f4f2ed;
    }

    .job {
      opacity: 0;
      display: flex;
      align-items: center;
      gap: 1rem;

      .icon {
        background-color: #292929;
        padding: 0.5rem;
        border-radius: 50%;
        border: 1px solid #f4f2ed;
        color: #f4f2ed;
      }
      p {
        font-size: 0.9rem;
        color: #f4f2ed;
        text-transform: uppercase;
      }
    }
  }

  section.view-6 {
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .card-1 {
      background-image: url(./images/card-pic-1.webp);
    }
    .card-2 {
      background-image: url(./images/card-pic-2.webp);
    }
    .card-3 {
      background-image: url(./images/card-pic-3.webp);
    }

    .card {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 0.5rem;
      background-size: cover;
      @include flex-style(0rem);
      justify-content: space-between;
      padding: 1.5rem;

      .top {
        display: flex;
        justify-content: flex-end;
        gap: 0.4rem;

        .icon {
          width: fit-content;
          padding: 0.6rem;
          border-radius: 50%;
          color: #f4f2ed;
        }
      }

      .icon,
      .bottom {
        background-color: #f4f2ed1a;
        backdrop-filter: blur(8px);
        border: 1px solid rgb(255 255 255 / 15%);
      }

      .bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        p:nth-child(1) {
          font-size: 1.3rem;
          font-weight: 500;
        }
        p {
          text-transform: uppercase;
          color: #f4f2ed;
        }
      }
    }
  }

  section.view-7 {
    padding: 1rem;
    @include flex-style(1rem);

    width: 100%;

    .bottom {
      width: 100%;
      background-color: #1e1e1e;
      padding: 1.5rem;
      @include flex-style(3rem);
      border-radius: 0.5rem;
      p {
        font-size: 0.9rem;
        color: rgb(244 242 237 / 60%);
        text-transform: uppercase;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 200;
        text-transform: uppercase;
        color: #f4f2ed;
      }
      .job {
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
          color: #f4f2ed;
          width: fit-content;
          padding: 0.6rem;
          border-radius: 50%;
          background-color: #f4f2ed1a;
          backdrop-filter: blur(8px);
          border: 1px solid rgb(255 255 255 / 15%);
        }
        p {
          font-size: 0.9rem;
          color: #f4f2ed;
          text-transform: uppercase;
        }
      }
    }
  }

  .view-7 > .top {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3/2;
    background-image: url(./images/view-7-pic.webp);
    background-size: cover;
  }

  section.view-8 {
    padding: 1rem;
    width: 100%;

    .inner-view-8 {
      width: 100%;
      border-radius: 0.5rem;
      background-color: #cebd63;
      @include flex-style(1rem);
      padding: 1.5rem;
    }

    .top {
      small {
        color: #1a1a1a;
        text-transform: uppercase;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #000000;
        line-height: 2.5rem;
      }
    }

    .bottom {
      background-color: #121212;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 1rem 1.25rem;
      height: fit-content;
      flex-shrink: 0;
      p {
        font-size: 0.9rem;
        color: #f4f2ed;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  section.view-9 {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;

    .top {
      width: 100%;
      padding: 1.5rem;
      background-color: #1e1e1e;
      @include flex-style(3.5rem);
      border-radius: 0.5rem;

      p {
        font-size: 1.5rem;
        color: rgb(244 242 237 / 60%);
      }
      .v9-bottom {
        display: flex;
        gap: 0.4rem;
        .icon {
          width: fit-content;
          padding: 0.6rem;
          border-radius: 50%;
          color: #f4f2ed;
          background-color: #f4f2ed1a;
          backdrop-filter: blur(8px);
          border: 1px solid rgb(255 255 255 / 15%);
        }
      }
    }

    .center {
      padding: 1.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      background-color: #1e1e1e;
      border-radius: 0.5rem;
      gap: 1.5rem;

      .part-1,
      .part-2,
      .part-3 {
        @include flex-style(1.5rem);

        h3 {
          font-size: 1.5rem;
          font-weight: 300;
          text-transform: uppercase;
        }

        small {
          font-size: 0.9rem;
          color: rgb(244 242 237 / 60%);
          text-transform: uppercase;
          font-weight: 200;
        }

        button {
          color: #1a1a1a;
          text-transform: uppercase;
          width: fit-content;
          padding: 1rem 1.25rem;
          border-radius: 0.5rem;
          border: none;
          background-color: #cebd63;
        }
      }
    }

    .bottom {
      @include flex-style(1rem);
      align-items: center;
      text-align: center;
      width: 100%;
      background-color: #1e1e1e;
      border-radius: 0.5rem;
      padding: 1.5rem;

      small {
        font-size: 0.9rem;
        color: rgb(244 242 237 / 60%);
        text-transform: uppercase;
        font-weight: 200;

        span {
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .inner-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;

        p {
          text-transform: uppercase;
        }
        .icon {
          width: fit-content;
          padding: 0.6rem;
          border-radius: 50%;
          color: #f4f2ed;
          background-color: #f4f2ed1a;
          backdrop-filter: blur(8px);
          border: 1px solid rgb(255 255 255 / 15%);
        }
      }
    }
  }
}

@media (min-width: 500px) {
  main {
    section.view-9 {
      .center {
        grid-template-columns: 1fr 1fr;
      }
      .bottom {
        small {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
  main {
    section.view-5 {
      .job {
        opacity: 1;
      }
    }

    section.view-6 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    section.view-7 {
      .bottom {
        gap: 6rem;
      }
    }

    section.view-8 {
      .inner-view-8 {
        .top {
          h2 {
            font-size: 4rem;
            line-height: 4rem;
          }
        }
      }
    }
  }
}
@media (min-width: 800px) {
  main {
    section.view-9 {
      .center {
        grid-template-columns: 1fr 1fr 1fr;

        .part-1,
        .part-2,
        .part-3 {
          gap: 2rem;
        }
      }

      .bottom {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  main {
    section.view-1 {
      flex-direction: row;

      .top {
        height: 100%;
        width: 50%;
      }
      .bottom {
        width: 50%;
        justify-content: space-between;
        padding: 2rem;
      }
    }

    section.view-2 {
      flex-direction: row;
      gap: 0;
    }

    section.view-3 {
      flex-direction: row-reverse;

      .top {
        width: 50%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .bottom {
        width: 50%;
        justify-content: space-between;
        padding: 2rem;

        .text {
          .paragraph {
            flex-direction: row;
            gap: 1rem;
          }
        }
      }
    }

    section.view-4 {
      flex-direction: row;

      .top {
        width: 50%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .bottom {
        width: 50%;
        justify-content: space-between;
        padding: 2rem;

        .text {
          .paragraph {
            flex-direction: row;
            gap: 1rem;
          }
        }
      }
    }

    section.view-6 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }

    section.view-7 {
      flex-direction: row;

      .bottom {
        width: 50%;
        justify-content: space-between;
      }
    }
    section.view-7 > .top {
      width: 50%;
    }

    section.view-8 {
      .inner-view-8 {
        padding: 3rem;
        flex-direction: row;
        align-items: flex-end;
      }
    }

    section.view-9 {
      grid-template-columns: 15rem 1fr;
      grid-template-rows: 1fr 8rem;
      grid-template-areas:
        "top center"
        "top bottom";

      .top {
        grid-area: top;
        justify-content: space-between;
        padding: 3rem;
      }
      .center {
        grid-area: center;
        padding: 3rem;
      }
      .bottom {
        grid-area: bottom;
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    section.view-8 {
      .inner-view-8 {
        .top {
          h2 {
            font-size: 5rem;
            line-height: 5rem;
          }
        }
      }
    }
  }
}
@media (min-width: 1300px) {
  main {
    section.view-1 {
      .bottom {
        padding: 3rem;

        p {
          font-size: 1rem;
        }

        .text {
          width: 90%;
          h1 {
            font-size: 3rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
      }
    }

    section.view-3 {
      .bottom {
        width: 50%;
        justify-content: space-between;
        padding: 3rem;

        p {
          font-size: 1rem;
        }
        .text {
          width: 90%;

          h1 {
            font-size: 3rem;
          }

          .paragraph {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    section.view-4 {
      .bottom {
        width: 50%;
        justify-content: space-between;
        padding: 3rem;

        p {
          font-size: 1rem;
        }
        .text {
          width: 90%;

          h1 {
            font-size: 3rem;
          }

          .paragraph {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    section.view-7 {
      .bottom {
        padding: 3rem;
        .top {
          h2 {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
